<h1 class="mb-4">Toutes mes listes</h1>

<div class="mb-3">
  <%= link_to "Créer une nouvelle liste", new_list_path, class: "btn btn-primary" %>
</div>

<div class="row">
  <% @lists.each do |list| %>
    <% first_movie = list.bookmarks.first&.movie %>
    <div class="col-md-4 mb-4">
      <div class="card movie-list-card"
           style="background-image: <%= "url('#{first_movie.poster_url}')" if first_movie %>;">
        <div class="card-body">
          <h5 class="card-title text-white"><%= list.name %></h5>
          <%= link_to "Voir la liste", list_path(list), class: "btn btn-light" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
