// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.movie-list-card {
  position: relative;
  height: 200px; // Hauteur des cartes
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  .card-body {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
  }
}

// Classe .banner pour la bannière en haut de la liste#show
.banner {
  position: relative;
  width: 100%;
  height: 300px; // hauteur de la bannière
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  padding: 20px;

  h1 {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 15px;
    color: #fff;
    border-radius: 4px;
    font-size: 2rem;
  }
}
