// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.movie-list-card {
  position: relative;
  height: 200px; // Hauteur des cartes
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  .card-body {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
  }
}

.banner {
  position: relative;
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  padding: 20px;
  background-color: #f8f9fa;

  h1 {
    background-color: rgba(255, 255, 255, 0.8); // 🌟 Fond blanc semi-transparent
    padding: 10px 15px;
    color: #333; // 🌟 Texte foncé pour lisibilité
    border-radius: 4px;
    font-size: 2rem;
  }
}

.footer-light {
  background-color: #f8f9fa; // 🌟 Fond clair
  color: #333; // 🌟 Texte foncé
  padding: 15px;
  font-size: 14px;
}

.list-group-item {
  background: #f8f9fa; // Fond clair pour les avis
  border: none;
  margin-bottom: 5px;
}
